<div class="container">

  <h1>
    {{title}}
  </h1>

  <a href="http://julemagne.github.io/portfolio" target="_blank">
    <img class="circle-img pull-right" src="assets/images/avatar.jpg" alt="Me"/>
  </a>

  <ul class="info-links-list">
    <li>
      {{fa-icon "code"}} <a href="http://julemagne.github.io/portfolio/">Web dev portfolio</a>
    </li>
    <li>
      {{fa-icon "twitter"}} <a href="twitter.com/julemagne">twitter.com/julemagne</a>
    </li>
    <li>
      {{fa-icon "github"}} <a href="github.com/julemagne">github.com/julemagne</a>
    </li>
    <li> 
      {{fa-icon "envelope-square"}} <span style="color:#73c91d;">julie.angela.david@gmail.com</span>
    </li>
  </ul>

</div>
