<div class="container">

  <h1>
    {{title}}
  </h1>

  <a href="http://julemagne.github.io/portfolio" target="_blank">
    <img class="circle-img pull-right" src="assets/images/avatar.jpg" alt="Me"/>
  </a>

  <ul class="info-links-list">
    <li>
      <span style="color:#49bf9d;">{{fa-icon "code"}}</span> 
      <a href="http://julemagne.github.io/portfolio/">Web dev portfolio</a>
    </li>
    <li>
      <span style="color:#55acee;">{{fa-icon "twitter"}}</span> 
      <a href="https://twitter.com/julemagne">twitter.com/julemagne</a>
    </li>
    <li>
      {{fa-icon "github"}} 
      <a href="https://github.com/julemagne">github.com/julemagne</a>
    </li>
    <li>
      <span style="color:#007bb5;">{{fa-icon "linkedin-square"}}</span> 
      <a href="https://www.linkedin.com/in/julieadavid">linkedin.com/in/julieadavid</a>
    </li>
    <li> 
      <span style="color:green;">{{fa-icon "envelope-square"}}</span> 
      <span style="color:#73c91d;">julie.angela.david@gmail.com</span>
    </li>
  </ul>

</div>
