<div class="row">

{{#each posts as |blog-post|}}
  <div class="col-xs-6">
    <div class="thumbnail">

    	{{#link-to 'post' blog-post.id class="thumbnail"}}
      	<img src={{blog-post.image}} alt={{blog-post.alt}}/>
      {{/link-to}}

			<div class="caption">
				{{#link-to 'post' blog-post.id}}
					<h3 class="major">{{blog-post.title}} <small>{{blog-post.date}}</small></h3>
				{{/link-to}}
				<p>{{blog-post.body}}</p>
				{{#link-to 'post' blog-post.id}}Read More!!!!{{/link-to}}
			</div>

		</div>
  </div>
{{/each}}

</div>

<ul class="actions">
	<li>
		{{#link-to 'posts' class="button"}}
			Browse All
		{{/link-to}}
	</li>
</ul>