<div class="row">

{{#each posts as |blog-post|}}
  <div class="col-sm-6 col-xs-12">
    <div class="thumbnail">

    	{{#link-to 'post' blog-post.id}}
      <img class="thumbnail" src={{blog-post.image}} alt={{blog-post.alt}}/>

			<div class="caption">
					<h3>{{blog-post.title}} <br><small>{{blog-post.date}}</small></h3>
				<p class="truncate-dots">{{blog-post.body}}</p>
				Read Full Article
			</div>
      {{/link-to}}
		</div>
  </div>

  {{#if blog-post.clears}}
  <div class="clearfix"></div>
  {{/if}}

{{/each}}

</div>

<ul class="actions">
	<li>
		{{#link-to 'posts' class="button"}}
			Browse All
		{{/link-to}}
	</li>
</ul>