<div class="page-header">

	<div>
		<img class="header-banner" src="./assets/images/panel-wide.jpg" alt="Triangle GEMconf #emberjs">
	</div>

	<div class="banner-text">
		<h1>Blog and Ideas to Remember <small>posts by Julie David </small></h1>
	</div>

</div>

<div class="container">

	{{posts-home posts=model}}

<!-- Footer -->
	<section id="footer">
		<div>
			<h2>Links</h2>
			<ul>
				<li>{{fa-icon "code"}} <a href="http://julemagne.github.io/portfolio/">Web dev portfolio</a></li>
				<li>{{fa-icon "twitter"}} <a href="twitter.com/julemagne">twitter.com/julemagne</a></li>
				<li>{{fa-icon "github"}} <a href="github.com/julemagne">github.com/julemagne</a></li>
				<li>{{fa-icon "copyright"}} 2016 Julie David julie.angela.david@gmail.com</li>
			</ul>
		</div>
	</section>

</div>