<!-- Menu -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<a class="navbar-brand" href="#"></a>
			<ul class="nav navbar-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Posts</a></li>
				<li><a href="#">About Me</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>

<div>
	<img class="logo" src="./assets/images/panel-wide.jpg" alt="Triangle GEMconf #emberjs">
</div>

<div class="container">

	<div class="page-header">
		<h1>Blog and Ideas to Remember <small>posts by Julie David </small></h1>
	</div>

	<div class="row">

	{{#each model as |blog-post|}}
	  <div class="col-xs-6">
	    <div class="thumbnail">
	      <img src={{blog-post.image}} alt={{blog-post.alt}}/>
				<div class="caption">
					<h3 class="major">{{blog-post.title}} <small>{{blog-post.date}}</small></h3>
					<p>{{blog-post.body}}</p>
					<a href="#">Read more</a>
				</div>
			</div>
	  </div>
	{{/each}}

	</div>

	<ul class="actions">
		<li><a href="#" class="button">Browse All</a></li>
	</ul>

<!-- Footer -->
	<section id="footer">
		<div>
			<h2>Links</h2>
			<ul>
				<li>{{fa-icon "code"}} <a href="http://julemagne.github.io/portfolio/">Web dev portfolio</a></li>
				<li>{{fa-icon "twitter"}} <a href="twitter.com/julemagne">twitter.com/julemagne</a></li>
				<li>{{fa-icon "github"}} <a href="github.com/julemagne">github.com/julemagne</a></li>
				<li>{{fa-icon "copyright"}} 2016 Julie David julie.angela.david@gmail.com</li>
			</ul>
		</div>
	</section>

</div>