<div class="container">

  <h1>
    404: Page not found
  </h1>

  <h3>
    Sorry, the page requested could not be found. Make sure you have the correct URL.
  </h3>

  <h2 class="footer">
    <span style="color:gold;">
      {{fa-icon "arrow-left"}}
      {{fa-icon "arrows-v"}} 
      {{fa-icon "arrow-circle-o-left"}} 
      {{fa-icon "arrow-circle-down"}} 
      {{fa-icon "location-arrow"}} 
      {{fa-icon "arrow-circle-up"}} 
      {{fa-icon "arrow-circle-o-right"}} 
      {{fa-icon "arrow-up"}}
    </span>
  </h2>

</div>