<h1>Archive </h1>

<div class="row">

{{#each model as |blog-post|}}
  <div class="col-xs-6">
    <div class="thumbnail">
      <img src={{blog-post.image}} alt={{blog-post.alt}}/>
			<div class="caption">
				<h3 class="major">{{blog-post.title}} <small>{{blog-post.date}}</small></h3>
				<p>{{blog-post.body}}</p>
				<a href="#">Read more</a>
			</div>
		</div>
  </div>
{{/each}}

</div>