<div class="container">
	<h1>{{model.title}} <small>{{model.date}}</small></h1>

	<div class="col-12">

	  <div class="col-xs-4">
	    <div class="thumbnail">
	      <img src={{model.image}} alt={{model.alt}}/>
	   	</div>
	  </div>

	  <div class="col-xs-8">
			<div class="caption">
				<p>{{model.body}}</p>
			</div>
		</div>

	</div>

</div>