<div class="container">
	<h2>{{model.title}} <small>{{model.date}}</small></h2>

	<div class="col-12">

	  <div class="col-xs-4">
	    <div class="thumbnail">
	    	<a href="{{model.image}}">
	      	<img src={{model.image}} alt={{model.alt}} class="post-thumbnail"/>
	      </a>
	   	</div>
	  </div>

	  <div class="col-xs-8">
			<div class="caption">
				<p>{{model.body}}</p>
			</div>
		</div>

	</div>

</div>